/* Response by Isoli*/
p {color: #D3D5CF;}
/* HEX
211,213,207
RGB */

/* Sonets by Isoli */
h1 {color: #B6C6AD;}
/* HEX
182,198,173
RGB */

/* Intro by Isoli */
p {color: #94C5A7;}
/* HEX
148,197,167
RGB */

/* Harsh by Isoli */
p {color: #0CF4AD;}
/* HEX
12,244,173
RGB */

/* IOHAC V by Isoli */
p {color: #164F57;}
/* HEX
22,79,87
RGB */
